* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

footer {
  background-color: #252525;
  color: #fff;
  width: 100%;
  padding: 1rem;
}

p {
  margin: 0;
}

.player {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}

.card {
  margin: 2rem 1rem;
  position: relative;
  max-width: 400px;
  max-height: 400px;
  box-shadow: 0 3px 6px #333, 0 3px 6px #333;
  border-radius: 2%;
}

.card > .container > .photo {
  width: 100%;
  border-radius: 2%;
  display:block;
}

.container div {
  position: absolute;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 2;

  bottom: 10%;
}

.container div span {
  font-size: 1.1rem;
  color: #fff;
  float: right;
  line-height: 3;
}

.spin {
  animation:spin 1s linear infinite;
}

.button {
  background: rgba(0,0,0,0.6);
  padding: 0.5rem 1rem !important;
}

.button img {
  z-index: 3;
  float: left;
  width: 52px;
}

#progress-bar.active {
  display: none !important;
}

#progress-bar {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

#buffer-bar {
  background-color: #afa2a6;
  position: absolute;
  bottom: 0;
  left: 0;
}

#bar {
  background-color: #000;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen and (max-width: 450px) {
  .container div span { font-size: 0.8rem; line-height:1; margin: 1rem 0;}
  footer p {
   font-size: 0.6rem;
 }
 .button img {
  z-index: 3;
  float: left;
  width: 44px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: none;
}
}

